.navbar-container {
  width: 100%;
  padding: 10px;
  color: white;
}
.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  font-size: 14px;
  color: white;
}
.nav-link {
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.nav-link :hover{
   color:#D9A901;
}

.login-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 15px;
  background-color: #D9A901;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.menu-btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-size: 18px;
}

@media (width <= 767px) {
  .nav-link {
    margin: 20px 10px;
    font-weight: 600;
  }
}
