@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Libre+Baskerville:wght@700&family=Metal+Mania&family=Montserrat:wght@500&family=Nunito:wght@300&family=Outfit:wght@300&family=Rubik:wght@300&display=swap');

.intro-container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.welcome-container{
    width: 100%;
    text-align: center;
    color: white;
}
.welcome-text{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Lemon', serif;
    margin: 0;
    padding: 0;
}
.sub-text{
    font-size: 25px;
    font-weight: 500;
}
.img-container{
    width:90%;
    height: 265px;
}
.feature-container>p{
    margin: 3px 0px;
}
.feature-container > h5{
    color: #D9A901;
}
.getStart-btn{
    margin: 0px 20px;
    padding: 5px 20px;
    border: none;
    outline: none;
    background-color: #D9A901;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    color:white;
}

@media(width <=767px){
    .welcome-container{
        margin:20px 0px;
    }
    .welcome-text{
        font-size: 25px;
    }
    .sub-text{
        margin: 10px 0px;
        font-size: 23px;
        font-weight: 500;
    }
    .img-container{
        width: 100%;
    }
}